.App {
  background: #fabea7;
  background: -moz-linear-gradient(
    45deg,
    #fabea7 0%,
    #fbe2e5 100%,
    #9cada4 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #fabea7 0%,
    #fbe2e5 100%,
    #9cada4 100%
  );
  background: linear-gradient(45deg, #fabea7 0%, #fbe2e5 100%, #9cada4 100%);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  Col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  Col {
    width: 100%;
  }
}

#btnCart {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 75px;
  /* border-radius: 50%; */
  background-color: #065446;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

#cartIcon {
  font-size: 48px;
}

#badgeClass {
  left: 2px;
  top: -20px;
}

nav {
  background-color: #fadcac;
}

form {
  margin-top: 20px;
}

#search {
  width: 94%;
}

/* #price {
  width: 22%;
} */

.navbar-expand {
  justify-content: space-between;
}

#search-button {
  color: #065446;
  border-color: #065446;
}

.card {
  margin-top: 30px;
  border: none;
}

.movie-card {
  overflow: hidden;
  position: relative;
}

.formSeacrh {
  border: none;
  outline: none;
  background-image: url("https://image.tmdb.org/t/p/original/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg");
  background-color: #cccccc;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */

  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#cardImg {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.movie-title {
  font-size: 17px;
}

.timer {
  text-align: center;
  grid-column: 1/4;
}

#notfound {
  margin: auto;
  margin-top: 20px;
}

.payment {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

#scbImg,
#kankImg {
  width: 200px;
  height: 175px;
  vertical-align: text-top;

  margin-top: -20px;
}

.scb {
  grid-column: 1/2;
}

.kbank {
  grid-column: 2/4;
  margin-left: auto;
  margin-top: -6px;
}

#credit {
  margin-top: -60px;
  text-align: center;
}

.numberPrice {
  margin-right: auto;
  width: -webkit-fill-available;
}
